@font-face {
    font-family: Norse-Bold;
    src: url('/fonts/Norse-Bold.otf');
}
body {
    display: flex;
    font-family: Roboto, sans-serif;
}

/*Image section */
.image-div {
    width: 40vw;
    height: 100vh;
}

.green-image > img {
    width: 40vw;
    height: 100vh;
}

.green-image > p {
    margin-top: auto;
    color: black;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20vh;
    width: 40vw;
    height: 20vh;
    font-family: Norse-Bold;
    color: white;
}

.logo > img {
    width: 75px;
    height: 100px;
}

.logo > p {
    font-size: 100px;
}






