:root {
    --white: hsl(0, 0%, 99%); 
    --light-gray: hsl(0, 0%, 94%); 
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Norse-Bold;
    src: url('/fonts/Norse-Bold.otf');
}

body {
    display: flex;
    font-family: sans-serif;
}

/*Image section */

.image-div {
    width: 40vw;
    height: 100vh;
}
.green-image {
    display: flex;
    justify-content: center;
}
.green-image > img {
    width: 40vw;
    height: 100vh;
}

.green-image > p {
    font-size: 16px;
    position: absolute;
    bottom: 16px;
    color: var(--white);
}

p > a {
    text-decoration: none;
    color: inherit;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20vh;
    width: 40vw;
    height: 13vh;
    font-family: Norse-Bold;
    color: var(--white);
}

.logo > img {
    width: 75px;
    height: 100px;
}

.logo > p {
    font-size: 100px;
}

/* Form section */

.right-div {
    background-color: var(--light-gray);
}

.right-div > h2 {
   padding-left: 50px;
   padding-top: 20px;
}

.header-div {
    margin-top: 10vh;
    padding: 50px;
}

.header-div > h2 {
    max-width: 55ch;
}

.form-div {
    margin-top: 6vh;
    background-color: var(--white);
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.2);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 57.2vw;
    height: 20vh;
}

.form-div > p {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
}

form {
    display: flex;
    position: relative;
    gap: 100px;
}


label, input {
    font-family: inherit;
    font-size: 85%;
    width: 300px;
    display: block;
}


input {
    appearance: none;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    outline: none;
    padding: 5px 5px 5px 10px;
}

input:focus {
    appearance: none;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

/* Footer section */

.footer-div {
    padding-left: 50px;
    padding-top: 25px;
}

button[type="submit"] {
    color: var(--white);
    border: none;
    width: 225px;
    height: 50px;
    border-radius: 15px;
    background-color: #596D48;
    font-weight: bolder;
    font-size: 17px;
}

.footer-div > p > a {
    color: #596D48;
    font-weight: bold;
}
.footer-div > p {
    margin-top: 4vh;
}